.general {
  background-color: rgb(44, 44, 44);
  font-family: arial;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
height: 1000px;



}

body::-webkit-scrollbar {
  display: none;
margin: 0px;
}
.card {
  margin: auto;
  padding-buttom; 15px;
  width: 400px;
}
}
.img{
  width: 400px;

  border-radius: 16px;
}

